.Abovenavbar{
  position: sticky;
  
  background-color: rgb(247, 232, 22);
  font-size:xx-small !important;
  display:flex ;
  justify-content: center;
  height: 5vh;
}
.Abovenavbar a{
  text-decoration: none;
  color: black;
}
/* .swiper-container{
  height: 10vh;
} */
.scroll-item{
  display: flex !important;
  border-bottom-left-radius:5cm !important;
  border-top-left-radius: 5cm !important;
  flex:1;
  background-color: black !important;
}
.image-container{
   flex:1 !important;
}
.content-container{
     flex:1 !important;
     color: aliceblue !important;
}
.shopbutton{
  margin-left: 27rem;
  margin-top: 5rem;
  font-size:4ch;
  color: rgb(255, 255, 255) !important;
  text-decoration: none !important;
  
}


.scroll-item-outer{
  display: flex;
  margin-top: 4vh;
}
.nextcomp{
  font-style: italic;
  text-align: center;
  size: 1ch;
  text-shadow: 1px;
}
